.navbar{
    padding: 20px 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 250px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 25px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    gap: 40px;
    align-items: center;
}

.login-button {
    background: #E53935;
    font-size: 16px;
    color: #fff;
    border: 1px solid #E53935;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: #ad0300;
    border: 1px solid #ad0300;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #E53935;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.navbar-search {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navbar-search input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .navbar-search button {
    background: transparent;
    font-size: 16px;
    color: #fff;
    border: 1px solid transparent;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .navbar-search button img {
    width: 20px;
  }

/* @media (max-width:750px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
} */

/* @media (max-width:750px){
    .navbar-menu{
        display: none;
    }
} */

@media (max-width:1050px){
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}

@media (max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}